# DB: Configurações de Conexão com Postgres Containerizado
POSTGRES_USER=zoe_admin
POSTGRES_PASSWORD=senha_segura_stark_db
POSTGRES_DB=asi_db
POSTGRES_SERVER=db
POSTGRES_PORT=5432

# DB URL Nativa para SQLAlchemy (URL unificada baseada nos campos acima)
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:${POSTGRES_PORT}/${POSTGRES_DB}

# Segurança Transversal (STARK RULES)
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
X-Tenant-ID=550e8400-e29b-41d4-a716-446655440000

# App e Servidor
ENVIRONMENT=development
API_V1_STR=/api/v1
PROJECT_NAME="Sistema Amenti Service Intelligence (ASI)"
